@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

                    /*ESTRUTUTA PADRÃO DA PÁGINA*/

*{
    margin: 0px;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    background-color: black;
}






                    /*PARTE SUPERIOR*/

header{
    background-image: url(/src/images/bg-header.svg);
    width: 1440px;
    height: 560px;
    color: #ffffff;
}
    #imagem-logo-header{
        margin-top: 52px;
        margin-left: 56px;
    }
    #h1-header{
        margin: 71px 0px 0px 172px;
        width: 536px;
        height: 102px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 128.5%;
    }
    #p-header{
        margin: 32px 0px 0px 172px;
        width: 536px;
        height: 90px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
    }